/*
黄色：#FFBF00
青色：#3D5CDB
灰色：#BAD5F5
黒色：#333333
白色：#ffffff
フォント：Futura Medium/ヒラギノ角ゴシック Pro W3
ボタン： radius:12px
font-family: "ヒラギノ角ゴ Pro W3";
*/

body{
    font-family: "ヒラギノ角ゴ Pro W3",futura-pt,sans-serif;
    font-style: normal;    
}


header {
	width: 100vw;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

nav ul{
    margin-right: 64px;
}
nav li{
    list-style: none;
    float: left;
    font-size: 27px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 30px;
}
nav a{
    text-decoration: none;
    color: #ffffff;
}
nav a:hover{
    color: #3D5CDB;
    transition: 0.5s ;
}

nav {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

.top{
    text-align: center;
    padding-top: 220px;
    padding-bottom: 225px;
}
.top p{
    color: #ffffff;
    font-size: 45px;
    font-weight: 100;
    font-style: italic;
    margin-top: 35px
}

.intro p{
    font-size: 16px;
    color: #333333;
    text-align: left;
    line-height: 32px;
    font-weight: 400;
}
.subtitle h1{
    margin-top: 45px;
}
.intro1{
    width: 1041px;
    margin: 70px auto 90px auto;
    height: 335px;
    display: flex;
}
.intro-text1{
    margin-top: px;
    margin-left: 90px;
    margin-right: 50px;
    
}
.intro1 p{
    font-weight: 400;
    padding-top: 12px;
}
.button1 a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    border: 1px solid #3D5CDB;
    border-radius: 12px;
    background-color: #3D5CDB;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    width: 170px;
    height: 40px;
    text-align: center;
    margin: 30px auto;
}
.button1 a:hover{
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6); 
}

.intro2{
    width: 1041px;
    margin: 0 auto;
    height: 335px;
    margin-bottom: 72px;
    display: flex;
}
.intro-text2{
    margin-left: 50px;
    margin-right: 90px;
    margin-top: 35px;
    
}
.intro2 p{
    width: 400px;
}
.button2 a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    border: 1px solid #FFBF00;
    border-radius: 12px;
    background-color: #FFBF00;
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    width: 170px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
}
.button2 a:hover{
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6); 
}


#hoge{
    width:100%;
    height:933px;
    position: absolute;
    display: block;
    background-color:#d6e5f9;
    display: block;
    z-index: -1;
    
}
.subtitle h2{
    padding-top: 50px;
    padding-bottom: 70px;
}

.cours-list{
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.html-c{
    width: 240px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 45px;
    margin-bottom: 30px;
}
.html-c p{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    padding-top: 33px;
    padding-bottom: 30px;
}
.button-html a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    border: 1px solid #f16629;
    border-radius: 12px;
    background-color: #f16629;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    width: 170px;
    height: 40px;
    margin: 0 auto;
}
.button-html a:hover{
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6); 
}

.css-c{
    width: 240px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 45px;
    margin-bottom: 30px;
    margin-left: 20px;
    
}
.css-c p{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    padding-top: 18px;
    padding-bottom: 30px;
}
.button-css a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    border: 1px solid #2AA9DF;
    border-radius: 12px;
    background-color: #2AA9DF;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    width: 170px;
    height: 40px;
    margin: 0 auto;
}
.button-css a:hover{
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6); 
}

.unity{
    width: 240px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 45px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.unity p{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    padding-top: 50px;
    padding-bottom: 30px;
}
.button-unity a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    border: 1px solid #333333;
    border-radius: 12px;
    background-color: #333333;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    width: 170px;
    height: 40px;
    margin: 0 auto;
}
.button-unity a:hover{
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6); 
}

.ruby{
    width: 240px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 45px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.ruby p{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    padding-top: 50px;
    padding-bottom: 30px;
}
.button-ruby a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    border: 1px solid #FF5252;
    border-radius: 12px;
    background-color: #FF5252;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    width: 170px;
    height: 40px;
    margin: 0 auto;
}
.button-ruby a:hover{
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6); 
}


.JS{
    width: 240px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    padding-top: 33px;
    padding-bottom: 45px;
    margin-bottom: 30px;

}
.JS p{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    padding-top: 35px;
    padding-bottom: 30px;
}
.button-JS a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    border: 1px solid #FFD700;
    border-radius: 12px;
    background-color: #FFD700;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    width: 170px;
    height: 40px;
    margin: 0 auto;
}
.button-JS a:hover{
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6); 
}

.swift{
    width: 240px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 45px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.swift p{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    padding-top: 58px;
    padding-bottom: 30px;
        
}
.button-swift a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    border: 1px solid #FE7635;
    border-radius: 12px;
    background-color: #FE7635;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    width: 170px;
    height: 40px;
    margin: 0 auto;
}
.button-swift a:hover{
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6); 
}

.go{
    width: 240px;
    background: #fff;
    border-radius: 12px;
    text-align: center;
    padding-top: 54px;
    padding-bottom: 45px;
    margin-bottom: 30px;
    margin-left: 20px;
}
.go p{
    font-size: 15px;
    font-weight: 700;
    color: #333333;
    padding-top: 52px;
    padding-bottom: 30px;
}
.button-go a{
    text-decoration: none;
    display: block;
    color: #ffffff;
    border: 1px solid #73CFDD;
    border-radius: 12px;
    background-color: #73CFDD;
    font-size: 13px;
    font-weight: 700;
    line-height: 40px;
    width: 170px;
    height: 40px;
    margin: 0 auto;
}
.button-go a:hover{
    box-shadow: 0px 0px 15px -2px rgba(0,0,0,0.6); 
}

.subtitle h3{
    clear: both;
    padding-top: 40px;
}


.slider { 
    margin: 83px 140px;  
}
.slider img { width: 100%;}



.subtitle h4{
    margin-bottom: 50px;
    margin-top: 80px;
}

.subtitle{
    font-size: 53px;
    font-weight: 300;
    text-align: center;
    color: #3D5CDB;
    font-family: futura-pt,sans-serif;
    
    
}

footer{
    font-size: 16px;
    color: #3D5CDB;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 60px;
}

.fuwatAnime {
 -webkit-animation-fill-mode:both;
 -ms-animation-fill-mode:both;
 animation-fill-mode:both;
 -webkit-animation-duration:1.5s;
 -ms-animation-duration:1.5s;
 animation-duration:1.5s;
 -webkit-animation-name: fuwatAnime;
 -ms-animation-name: fuwatAnime;
 animation-name: fuwatAnime;
 visibility: visible !important;
}
@-webkit-keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); }
}
@keyframes fuwatAnime {
 0% { opacity: 0; -webkit-transform: translateY(-20px); -ms-transform: translateY(-20px); transform: translateY(-20px); }
 100% { opacity: 1; -webkit-transform: translateY(0); -ms-transform: translateY(0); transform: translateY(0); }
}








